body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.row {
    display: flex;
}


.tile {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin: 2px;
}
.tile.snake {
    background: black;
}
.tile.food {
    background: red;
}